<div class="flex flex-col gap-5 py-5 min-h-[250px]">
  <div class="flex flex-col md:flex-row gap-5 w-full">
    <div class="grow text-xl font-bold basis-1/2 flex flex-row gap-2 items-center">{% svg "assets/images/logo.svg" class="size-10 inline-block" %}<span>Yanok AI</span></div>
    <div class="basis-1/4 flex flex-col gap-2">
      <div class="font-semibold">Apps</div>
      <a href="https://seo.yanok.xyz/?ref=home" class="underline underline-offset-8">Yanok SEO Writing <strong>Open Alpha Testing</strong></a>
    </div>
    <div class="basis-1/4 flex flex-col gap-2">
      <div class="font-semibold">Contact</div>
      <a href="tel:+6588928831" class="underline underline-offset-8">+65&nbsp;8892&nbsp;8831</a>
      <span>160 Robinson Road, #14-04<br />Singapore</span>
    </div>
  </div>
  <div class="grow"></div>
  <div class="text-xs text-gray-500">Copyright &copy; 2023-2024 Yanok. All rights reserved. All trademarks are protected by law and owned by their respective holders.</div>
</div>
