{% include gtm_head.html %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>{{ page.title }} - {{ site.title }}</title>
{% if page.description %}
<meta name="description" content="{{ page.description | escape | strip_html }}">{% endif %}

<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:image" content="{{ "/assets/images/preview.webp" | relative_url }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:url" content="https://www.yanok.ai" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:type" content="website" />
<script type="application/ld+json">{"@context":"https://schema.org/","@type":"WebSite","url":"https://www.yanok.ai/","potentialAction":{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"https://www.yanok.ai/search?q={search_term}"},"query-input":"required name=search_term"}}</script>
<script type="application/ld+json">{"@context":"https://schema.org/","@type":"LocalBusiness","name":"Yanok Codeless Platform","url":"https://www.yanok.ai","image":"{{ "/assets/images/preview.webp" | relative_url }}","address":{"@type":"PostalAddress","addressCountry":"SG","addressLocality":"Singapore","postalCode":"068914","streetAddress":"160 Robinson Road"},"telephone":"+65 8892 8831"}</script>
<meta name="google-site-verification" content="ILR3z8VtAm7LXTlixtXiheNIyyIIMJkhASbi-HteLPE" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ page.description }}" />
<meta name="twitter:image" content="{{ "/assets/images/preview.webp" | relative_url }}" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet">
<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/css/cookieconsent.css" | relative_url }}">
<script type="text/plain" data-category="analytics" data-service="Google Analytics">
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-P8G3M4LK');</script>
</script>
<script type="module" src="{{ "/assets/javascript/intersection.js" | relative_url }}"></script>
