<div class="flex items-center gap-7 py-5">
  <a href="/" class="grow text-xl font-bold flex flex-row gap-2 items-center">{% svg "assets/images/logo.svg" class="size-10 inline-block" %}<span>YanokAI</span></a>
  <div class="translate-x-full md:translate-x-0 absolute md:relative top-20 md:top-0 mt-[3px] md:mt-0 right-0 bottom-0 bg-black border-l border-l-gray-700 pt-5 md:pt-0 pl-10 md:pl-0 transition duration-300" id="menu">
    <div class="flex flex-col md:flex-row gap-7 items-start md:items-center">
      <a href="#" class="navigation-link group">
        Product
        <span class="navigation-link-underline"></span>
      </a>
      <a href="#" class="navigation-link group">
        Solutions
        <span class="navigation-link-underline"></span>
      </a>
      <a href="#" class="navigation-link group">
        Resources
        <span class="navigation-link-underline"></span>
      </a>
      <div class="group relative cursor-pointer">
        <div class="flex items-center justify-between">
          <a class="menu-hover text-base font-medium navigation-link group" onClick="">
            Company
            <span class="navigation-link-underline"></span>
          </a>
        </div>
        <div class="md:invisible md:opacity-0 group-hover:visible group-hover:opacity-100 relative md:absolute md:z-50 w-full w-max md:ml-[-200%] transition-all duration-300" onClick="">
          <div class="md:mt-5 border-none md:border border-2 rounded-md bg-black shadow-xl grid md:grid-cols-2 gap-5 p-5">
            <a class="block hover:underline">About</a>
            <a class="block hover:underline">Careers</a>
            <a class="block hover:underline">Diversity &amp; Inclusion</a>
            <a class="block hover:underline">Partners</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="/book-demo.html" class="btn font-semibold">
    Contact Us
  </a>
  <div class="block md:hidden pr-5 cursor-pointer" onClick="document.querySelector('#menu').classList.toggle('translate-x-full');">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </div>
</div>
