<div class="flex items-center gap-7 py-5">
  <a href="/" class="grow text-xl font-bold flex flex-row gap-2 items-center">{% svg "assets/images/logo.svg" class="size-10 inline-block" %}<span>YanokAI</span></a>
  <div class="hidden md:flex gap-7 items-center">
    <a href="#" class="navigation-link group">
      Product
      <span class="navigation-link-underline"></span>
    </a>
    <a href="#" class="navigation-link group">
      Solutions
      <span class="navigation-link-underline"></span>
    </a>
    <a href="#" class="navigation-link group">
      Resources
      <span class="navigation-link-underline"></span>
    </a>
    <a href="#" class="navigation-link group">
      Company
      <span class="navigation-link-underline"></span>
    </a>
    <div class="group relative cursor-pointer">
      <div class="flex items-center justify-between">
        <a class="menu-hover text-base font-medium navigation-link group" onClick="">
          Company
          <span class="navigation-link-underline"></span>
        </a>
      </div>
      <div class="invisible opacity-0 group-hover:visible group-hover:opacity-100 absolute z-50 w-full w-max ml-[-200%] transition-all duration-300" onClick="">
        <div class="mt-5 border border-2 rounded-md bg-black shadow-xl grid grid-cols-2 gap-5 p-5">
          <a class="block hover:underline">About</a>
          <a class="block hover:underline">Careers</a>
          <a class="block hover:underline">Diversity &amp; Inclusion</a>
          <a class="block hover:underline">Partners</a>
        </div>
      </div>
    </div>
  </div>
  <a href="/book-demo.html" class="btn font-semibold">
    Contact Us
  </a>
</div>
