---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body { overflow-x: hidden; }
body       { position: relative }

@layer components {
  h1 {
    @apply text-4xl font-bold;
  }


  .btn {
    @apply border border-gray-700;
    @apply py-2 px-4 text-white text-center hover:bg-gray-700;
    @apply transition ease-in;
    &-cta {
      @apply bg-brand-default border-none font-semibold;
      @apply hover:bg-brand-default hover:brightness-125;
    }
  }
  .site-gutter {
    @apply px-3 md:px-10;
  }

  .navigation {
    &-link {
      @apply text-white transition duration-300 tracking-widest font-semibold;

      &-underline {
        @apply block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-white;
      }
    }
  }
  .benefits {
    &-item {
      @apply flex flex-col items-center justify-start gap-5 flex-1;
      & > h3 {
        @apply text-xl font-semibold text-center;
      }
      & > p {
        @apply text-center;
      }
    }    
  }

  .hero {
    @apply bg-none;
    @screen md {
      background-image: url("/assets/images/bird.png");
      background-position: 120% 10%;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

@layer utilities {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideRight {
    0% {
      transform: translateX(-200px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .fadeIn {
    animation: fadeIn 1s ease-in-out;
  }
  .fadeInUp {
    animation: fadeIn 1s ease-in-out, slideUp 1s ease-in-out;
  }
  .fadeInRight {
    animation: fadeIn 1s ease-in-out, slideRight 1s ease-in-out;
  }
}
