---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body { overflow-x: hidden; }
body       { position: relative }

@layer components {

  .markdown {
    a { @apply underline; }
  }

  h1 { @apply text-5xl font-bold; }
  h2 { @apply text-4xl font-bold; }
  h3 { @apply text-3xl font-bold; }
  h4 { @apply text-2xl font-bold; }

  ol {
    li { @apply list-decimal ml-10; }
  }
  ul {
    li { @apply list-disc ml-10; }
  }

  .btn {
    @apply border border-gray-700;
    @apply py-2 px-4 text-white text-center hover:bg-gray-700;
    @apply transition ease-in;
    &-cta {
      @apply border-none font-semibold;
      @apply hover:bg-brand-default hover:brightness-125;
      @apply text-2xl md:text-3xl rounded-lg bg-gradient-to-br md:px-10 md:py-4 from-teal to-blue
    }
    &-cta-small {
      @apply text-xl md:text-2xl md:px-8 md:py-2
    }
    &-xl {
      @apply text-xl;
      @apply py-3 px-6;
    }
  }
  .site-gutter {
    @apply px-3 md:px-10;
  }

  .navigation {
    &-link {
      @apply text-white transition duration-300 font-semibold;

      &-underline {
        @apply block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-white;
      }
    }
  }
  .benefits {
    &-item {
      @apply flex flex-col justify-start flex-1 bg-gradient-to-br from-darkBlue to-medBlue px-5 py-5 rounded-lg;
      & > h3 {
        @apply text-2xl font-semibold text-left leading-[1.5rem] pb-2;
      }
      & > p {
        @apply text-left leading-[1.25rem];
      }
    }
  }
}

@layer utilities {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideRight {
    0% {
      transform: translateX(-200px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .fadeIn {
    animation: fadeIn 1s ease-in-out;
  }
  .fadeInUp {
    animation: fadeIn 1s ease-in-out, slideUp 1s ease-in-out;
  }
  .fadeInRight {
    animation: fadeIn 1s ease-in-out, slideRight 1s ease-in-out;
  }
}
