---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .btn {
    @apply border border-gray-700;
    @apply py-2 px-4 text-white hover:bg-gray-700;
    @apply transition ease-in;
    &-cta {
      @apply bg-brand-default border-none;
      @apply hover:bg-brand-default hover:brightness-125;
    }
  }
  .site-gutter {
    @apply px-3 md:px-10;
  }

  .navigation {
    &-link {
      @apply text-white transition duration-300 tracking-widest font-semibold;

      &-underline {
        @apply block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-white;
      }
    }
  }
  .benefits {
    &-item {
      @apply flex flex-col items-center justify-start gap-5 flex-1 max-w-[250px];
      & > h3 {
        @apply text-xl font-semibold text-center;
      }
      & > p {
        @apply text-center;
      }
    }    
  }

  .hero {
    @apply bg-none;
    @screen md {
      background-image: url("/assets/images/bird.png");
      background-position: 120% 10%;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

@layer utilities {
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fadeInUp {
    animation: fadeInUp 1s ease-in-out;
  }
}
