<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description | escape | strip_html }}">{% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/cookieconsent.css" | relative_url }}">
    <script type="text/plain" data-category="analytics" data-service="Google Analytics">
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-P8G3M4LK');</script>
    </script>
  </head>
  <body class="font-jost antialiased text-white bg-black">
    <script type="module" src="{{ "/assets/javascript/cookieconsent-config.js" | relative_url }}"></script>
    <script>
      CookieConsent.run({
          language: {
            default: 'en',
            translations: {
              'en': './en.json'
            }
          }
        });
    </script>
    <div class="flex flex-col items-center h-screen gap-5">
      <div class="site-gutter w-full max-w-container border-b border-gray-700">{% include navigation.html %}</div>
      <div class="grow w-full">{{ content }}</div>
      <div class="site-gutter w-full max-w-container border-t border-gray-700">{% include footer.html %}</div>
    </div>
  </body>
</html>
