<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>{% include head.html %}</head>
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
  <body class="font-jost antialiased text-white bg-black">
    <script type="module" src="{{ "/assets/javascript/cookieconsent-config.js" | relative_url }}"></script>
    <div class="flex flex-col items-center h-screen gap-5">
      <div class="site-gutter w-full max-w-container border-b border-gray-700">{% include navigation.html %}</div>
      <div class="grow w-full">{{ content }}</div>
      <div class="site-gutter w-full max-w-container border-t border-gray-700">{% include footer.html %}</div>
    </div>
  </body>
</html>
