<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="font-jost">
    <div class="flex flex-col items-center h-screen">
      <div class="site-gutter w-full max-w-container">{% include navigation.html %}</div>
      <div class="grow">{{ content }}</div>
      <div class="site-gutter w-full max-w-container">{% include footer.html %}</div>
    </div>
  </body>
</html>
