---
layout: default
---

<div class="site-gutter max-w-container mx-auto">
  <div class="flex flex-col gap-10 py-20 markdown">
    {{ content }}
  </div>
</div>

<hr class="max-w-container mx-auto border-gray-700" />

<div class="site-gutter max-w-container mx-auto flex flex-col items-center gap-5 py-14">
  <p><span class="font-bold">Yanok AI Platform</span> is a powerhouse in web automation, acting as the essential
    connector to a multitude of web apps and
    services, maximizing their value.</p>
  <p>Create integrations with an intuitive no-code drag-and-drop interface.</p>
  <div class="block pt-5 flex flex-col md:flex-row gap-5 justify-center items-center">
    <a href="https://app.yanok.xyz/quickstarts/business/new" class="btn btn-cta btn-xl">Automate with Yanok AI</a>
    <a href="/book-demo.html" class="btn ">Book a Demo</a>
  </div>
</div>
